<!--HOME PAGE UI SCREEN -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: white ;">
    <h1 class="display-4 hello-jump">Hello</h1>
    <div>
        <button id="clickButton" class="btn btn-danger btn-lg">click me</button>
        <p id="counter">Clicks: 0</p>
        <p id="timer">Time left: 30s</p>
    </div>
</div>
   
   